[submodule "st"]
	path = st
	url = https://github.com/markuskont/st
[submodule "rust-dwm-status"]
	path = rust-dwm-status
	url = https://github.com/markuskont/rust-dwm-status
[submodule "dwm"]
	path = dwm
	url = https://github.com/markuskont/dwm
	branch = 6.2-modded
