[submodule "st"]
	path = st
	url = https://github.com/markuskont/st
  branch = gruvbox
[submodule "rust-dwm-status"]
	path = rust-dwm-status
	url = https://github.com/markuskont/rust-dwm-status
[submodule "dwm"]
	path = dwm
	url = https://github.com/markuskont/dwm
	branch = 6.2-modded
[submodule ".config/rofi/themes/gruvbox"]
	path = .config/rofi/themes/gruvbox
	url = https://github.com/bardisty/gruvbox-rofi
