#!/bin/bash
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
export QT_QPA_PLATFORMTHEME=gtk2
source ~/.profile
pgrep sxhkd || nohup sxhkd &
pgrep dunst || nohup dunst &
pgrep compton || nohup compton &
feh --bg-fill ~/.config/wall.pic
~/.local/bin/dwm-status.sh &
